<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>member</contextName>
    <property name="LOGGER_HOME" value="${catalina.base}/logs"/>
    <property name="LOGGER_NAME" value="member" />
    <property name="ROOT_LEVEL" value="debug" />
    <property name="ENCODER_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n" />
    <property name="MAX_FILE_ZIE" value="50MB" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${ENCODER_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE_INFO"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGGER_HOME}/${LOGGER_NAME}_info.log</file>
        <prudent>true</prudent>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOGGER_HOME}/${LOGGER_NAME}_info_%d{yyyy-MM-dd}.log%i.gz</FileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${ENCODER_PATTERN}</pattern>
        </encoder>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>${MAX_FILE_ZIE}</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="FILE_DEBUG"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGGER_HOME}/${LOGGER_NAME}_debug.log</file>
        <prudent>true</prudent>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOGGER_HOME}/${LOGGER_NAME}_debug_%d{yyyy-MM-dd}.log%i.gz</FileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${ENCODER_PATTERN}</pattern>
        </encoder>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>${MAX_FILE_ZIE}</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="FILE_ERROR"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGGER_HOME}/${LOGGER_NAME}_error.log</file>
        <prudent>true</prudent>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOGGER_HOME}/${LOGGER_NAME}_error_%d{yyyy-MM-dd}.log%i.gz</FileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${ENCODER_PATTERN}</pattern>
        </encoder>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>${MAX_FILE_ZIE}</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="org.springframework.web" level="DEBUG"/>

    <root level="${ROOT_LEVEL}">
        <appender-ref ref="FILE_INFO" />
        <appender-ref ref="FILE_DEBUG" />
        <appender-ref ref="FILE_ERROR" />
    </root>
</configuration>